.cardEntry {
  margin-top: 10%;
}
.container {
  padding: 10px;
}
.gif {
  width: 100%;
  height: 100vh;
  background-color:   #0f0727 ;
  background-image: url("https://media.giphy.com/media/3o7aD2d7hy9ktXNDP2/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
}
