@font-face {
  font-family: 'Get Schwifty';
  src: local('Get Schwifty'), url(/fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak.ttf') format('ttf');
}

.namewel {
  text-align: center;
  font-family: Get Schwifty;
  font-size: 70px;
           -webkit-text-fill-color: hsl(113, 97%, 58%);
           -webkit-text-stroke:2px;
           -webkit-text-stroke-color: hsl(0, 0%, 2%);
}
