/* .imageInstru1 {
  background: #112 url('./fondo-run-.png')  no-repeat center center fixed;
  background-size:cover;
  margin:0
} 
.imageInstru2 {
  background: #112 url('./fondo-run-dialogo.png')  no-repeat center center fixed;
  background-size:cover;
  margin:0
}  */
.hinst-1 {
    font-family: Calligraphr;
    font-size: 100px;
             -webkit-text-fill-color:rgb(37, 253, 17);
             -webkit-text-stroke:3px;
             -webkit-text-stroke-color: black;

}
.imageInstru1 {
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url('./fondo-run-.png');
    background-position:center;
}

.imageInstru2 {

  animation: fadeout 2s;
}
.imageInstru2 {
  animation: fadein 2s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.image2 {
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url('./fondo-run-dialogo2.png');
  background-position:center;
  background-repeat: no-repeat;
}
.buttonGame1 {
  position: relative;
  margin: 430px;
  margin-right: 1px;
  border: none;
  border-radius: 10px;
  background-position: center;
  display: inline-block;
  padding: 5px 20px;
  color: #0f0727;
  background-color: #f80eaa;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
}
.buttonGame1:hover 
{
  text-transform: uppercase;
  padding: 10px 30px;
  color: #f80eaa;
  background: #9acd32;
  box-shadow: 0 0 10px #9acd32, 0 0 40px #f80eaa, 0 0 80px#9acd32;
}