.fondo-game1-1{
    width: 100vw;
    height: 100vh;
    background-position: center;
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url("./espacio-one.png");
    background-repeat: no-repeat;
}

.pointText1{
    font-family: Get Schwifty;
    font-size: 40px;
           -webkit-text-fill-color: hsl(113, 95%, 46%);
           -webkit-text-stroke:2px;
           -webkit-text-stroke-color: hsl(64, 100%, 55%);
}

.titelName1 {
    font-family: Calligraphr;
    font-size: 50px;
           -webkit-text-fill-color: hsl(320, 91%, 55%);
           -webkit-text-stroke:1px;
           -webkit-text-stroke-color: hsl(320, 91%, 55%);
}

.correctIncorrect {
    font-family: Calligraphr;
    -webkit-text-fill-color: hsl(187, 91%, 55%);
    -webkit-text-stroke:1px;
    -webkit-text-stroke-color: hsl(246, 93%, 29%);
}

.bottoN3 {
    font-family: Calligraphr;
           -webkit-text-fill-color: hsl(315, 22%, 96%);
           -webkit-text-stroke:1px;
           -webkit-text-stroke-color: hsl(320, 91%, 55%);
}

.bottonN123 {
    position: relative;
    margin: 10px;
    border: none;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 50px;
    background-color: red;
    background-position: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
  }

.bottonN123:hover 
{
    text-transform: uppercase;
    padding: 7px 7px;
    color: #ffff00;
    background: #9acd32;
    box-shadow: 0 0 10px #9acd32, 0 0 40px #ffff00, 0 0 80px#9acd32; 
}

.fotoTodas12345 {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    font-family: Calligraphr;
    font-size: 70px;
    background-position: center;
           -webkit-text-fill-color: hsl(318, 94%, 50%);
           -webkit-text-stroke:1px;
           -webkit-text-stroke-color: hsl(184, 98%, 49%);
}



.textFinishGame {
    position: relative;
    background-position: center;
}

.fotoJerry {
    position: relative;
    width: 200px;
    background-position: center;
}

.fotoMorty {
    width: 200px;
    background-position: center;
}

.fotoBeth {
    width: 200px;
    background-position: center;
}

.fotoSummer {
    height: 400px;
    background-position: center;
}

.fotoRick {
    width: 200px;
    background-position: center;
}

.buttonTryAgainG1 {
    margin: 10px;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    background-color: hsl(184, 98%, 49%);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    color: black;
    text-decoration: none;
}

.buttonTryAgainG1:hover {
    text-transform: uppercase;
    padding: 8px 8px;
    color: #ffff00;
    background: #9acd32;
    box-shadow: 0 0 10px #9acd32, 0 0 40px #ffff00, 0 0 80px#9acd32; 
}