.hello-g2 {
    font-family: Calligraphr;
    font-size: 100px;
             -webkit-text-fill-color:rgb(37, 253, 17);
             -webkit-text-stroke:3px;
             -webkit-text-stroke-color:black;
}
.imageInstru2 {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('./diseño_fondo.png') no-repeat center center fixed;
}


.buttonGame2 {
    font-family: Calligraphr;
    position: relative;
    margin: 430px;
    margin-left: 1px;
    border: none;
    border-radius: 10px;
    background-position: center;
    display: inline-block;
    padding: 5px 20px;
    color: #0f0727;
    background-color: #f80eaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
  }
  .buttonGame2:hover
  {
    font-family: Calligraphr;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #f80eaa;
    background: #9acd32;
    box-shadow: 0 0 10px #9acd32, 0 0 40px #f80eaa, 0 0 80px#9acd32;
  }

  .noScroll {
    height: 1px;
  }
