/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Get Schwifty';
  src: local('Get Schwifty'), url(./fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf) format('truetype');
}
@font-face {
  font-family: 'Calligraphr';
  src: local('Calligraphr'), url(./fonts/Calligraphr-Regular.ttf) format('truetype');
}
